/* Import TailwindCSS and Google Fonts */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

/* General Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  height: 100%;
}

body {
  background-color: #ff3333;
  font-family: "Roboto", sans-serif;
}

/* SignIn Component */
.sign-in-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.sign-in-container {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  position: relative; /* Ensure relative positioning for the form centering */
  gap: 20px; /* Apply gap here */
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-in-heading {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 1.5rem;
}

.sign-in-form input {
  margin-bottom: 30px;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}
.sign-in-form input:nth-child(1) {
  margin-bottom: 30px; /* This applies specifically to the email input */
}

.sign-in-form input:focus {
  outline: none;
  border-color: #4183c4;
  gap: 20px;
}

.sign-in-form button {
  background-color: #4183c4;
  color: #fff;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.sign-in-form button:hover {
  background-color: #357bb8;
}

@media (max-width: 600px) {
  .sign-in-container {
    padding: 1.5rem;
  }

  .sign-in-heading {
    font-size: 20px;
  }

  .sign-in-form input,
  .sign-in-form button {
    font-size: 14px;
  }
}

/* AddEditUser Component */
.add-edit-user-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.page-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-container {
  height: auto;
}

.add-edit-form {
  width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-edit-form .textarea {
  resize: none;
  overflow: hidden;
}

.add-edit-form button {
  margin-top: 1rem;
}

/* Weather Component */
.weatherbody {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2rem;
  height: 100vh;
  color: #222;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weatherapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-width;
  gap: 4rem;
  padding: 5rem 0;
  border: 2px solid #222;
  outline: 2px solid #222;
  font-family: "Cinzel Decorative", cursive;
  font-size: 2rem;
}

h1 {
  font-weight: 400;
  font-size: 5rem;
  letter-spacing: 2px;
  word-spacing: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 2.4rem;
}

.weather {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.day {
  background-color: aliceblue;
  padding: 1.6rem 0 2rem;
  width: 12.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

.day span {
  font-size: 5.2rem;
}

.day.important {
  background-color: aliceblue;
  outline: 2px solid #222;
}

.loader {
  font-size: 2.4rem;
  font-weight: 700;
}

/* Calculator Component */
.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

/* File Upload */
.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

/* Category Buttons - Fixed Position */
.category-container {
  position: fixed;
  top: 23%;
  left: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px !important;
  background-color: red !important;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(240, 87, 4, 0.781);
  z-index: 10;
  width: 240px;
  gap: 20px !important;
  font-family: "Cinzel Decorative", cursive !important; /* Apply the font here */
}
/* Override Semantic UI button margins */
.category-button {
  background-color: rgb(255, 255, 255) #ec7530 !important;
  color: black !important;
  font-size: 1.2em !important; /* Ensure button font size is reduced */
  border-radius: 25px !important;
  padding: 6px 12px !important; /* Further reduce padding */
  margin: 0 !important; /* Remove default margin */
  margin-bottom: 2px !important; /* Minimize space between buttons */
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: "Cinzel Decorative", cursive !important; /* Apply the font here */
}

.category-button:hover {
  background-color: #e18419;
  transform: translateY(-3px);
}

@media (max-width: 600px) {
  .category-container {
    flex-direction: column;
    position: relative;
    left: 0;
    max-width: 100%;
    padding: 10px;
  }

  .category-button {
    width: 100%;
    margin-bottom: 4px !important; /* Slightly reduced margin for small screens */
  }
}

/* Home Component */
.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerContainer {
  width: auto;
  margin-left: 30px;
}

.home .headerContainer h1 {
  font-weight: bold;
  font-size: 70px;
}

.home .headerContainer p {
  margin-top: 15px;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

/* Mobile View for Home Component */
@media only screen and (max-width: 600px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer {
    margin-left: 0;
    border-radius: 10px;
    width: 80%;
    background-color: black;
    color: white;
  }
  .home .headerContainer h1 {
    font-size: 40px;
    margin: 15px 0px;
    color: white;
  }
  .home .headerContainer p {
    font-size: 30px;
    color: white;
  }
}

/* Services Container */
.servicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

/* Video Background */
.video {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  padding: 5rem;
  top: 20%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .video {
    padding: 4rem;
    top: 15%;
  }
}

@media (max-width: 768px) {
  .video {
    padding: 3rem;
    top: 10%;
  }
}

@media (max-width: 480px) {
  .video {
    padding: 2rem;
    top: 5%;
  }
}

/* Navigation Menu */
.navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-menu li {
  margin: 0px 20px;
}

.navigation-menu li a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
}

.navigation-menu li a:hover {
  color: #4183c4;
}

/* Global CSS */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.add-edit-user-page {
  .add-edit-user-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page fills the viewport */
  }

  .content {
    flex-grow: 1; /* Allow the content to expand and push the footer down */
  }

  .add-edit-form {
    margin-bottom: 2rem; /* Maintain spacing at the bottom of the form */
  }

  .footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: relative !important; /* Remove any fixed positioning */
  }
}
